<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/favicon') %>
    <link rel="stylesheet" href="/css/landingPage.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <%- include('partials/imports') %>

    <title>Loom: Clubes de Leitura</title>
</head>
  
<body>
    <div class="content-container">
        <h1>Loom: Aplicação Web para Gerenciamento e Interação em Clubes de Leitura</h1>
        
        <div class="buttons-container">
            <a href="/autenticacao" class="btn btn-registro">Acesse a Aplicação Web</a>
            <button id="installButton" class="btn btn-pwa" style="display: none;">
                <i class="fas fa-download"></i> Instalar App
            </button>
        </div>
    </div>
    <script src="/js/landingPage.js"></script>
</body>
</html>
