:root {
    --background: #ffffff;
    --current-line: #f5f5f5;
    --selection: #e8e8e8;
    --foreground: #2d3436;
    --paragrafo: #636e72;
    --ciano: #00b894;
    --verde: #00cec9;
    --laranja: #fdcb6e;
    --rosa: #e84393;
    --roxo: #6c5ce7;
    --vermelho: #d63031;
    --vinho: #b71540;
    --amarelo: #ffeaa7;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection{ /*mudar cor do texto selecionado hihihihi*/
    background-color: var(--roxo);
    color: var(--foreground);
}

body {
    background-color: var(--current-line);
    font-family: 'Poppins', sans-serif;
    color: var(--foreground);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
}
.botao-moderno {
    background: linear-gradient(45deg, var(--roxo), var(--rosa));
    color: var(--current-line);
    padding: 12px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.botao-moderno:hover {
    background-color: #5a4ecc;
}

.card-moderno {
    background-color: var(--background);
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.card-moderno:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}
